# Data Cleaning
Data Source: https://www.espncricinfo.com/records/highest-career-batting-average-282910

In [1]:
import pandas as pd

In [2]:
# Load the Cricket Test Match dataset
df = pd.read_csv('/content/CricketData.csv')

In [3]:
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7.0,626+,6
1,PHKD Mendis (SL),2022-2025,14,24,3,1316,182*,62.66,2063,63.79,5,5,NaN,137,24
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2.0,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1.0,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2.0,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11.0,1165,24
60,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1.0,119+,0
61,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4.0,241+,5+
62,Hashmatullah Shahidi (AFG),2018-2025,11,21,5,771,246,48.18,1629,47.32,2,2,NaN,87,1
63,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2.0,53+,0

In [4]:
# Rename columns to more descriptive names for better readability
df = df.rename(columns = {'Span':'Playing_Span','Mat':'Matches_Played',
                          'Inns' : 'Innings_Batted','NO':'Not_Outs',
                          'Runs':'Runs_Scored','HS':'Highest_Inns_Score',
                          'Ave':'Batting_Average', 'BF':'Balls_Faced',
                          'SR':'Batting_Strike_Rate', '100':'Hundreds_Scored',
                          '50':'Fifties_Scored', '0':'Ducks_Scored',
                          '4s':'Boundary_Fours','6s':'Boundary_Sixes'})

In [5]:
df.head()

,Player,Playing_Span,Matches_Played,Innings_Batted,Not_Outs,Runs_Scored,Highest_Inns_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Hundreds_Scored,Fifties_Scored,Ducks_Scored,Boundary_Fours,Boundary_Sixes
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7.0,626+,6
1,PHKD Mendis (SL),2022-2025,14,24,3,1316,182*,62.66,2063,63.79,5,5,NaN,137,24
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2.0,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1.0,246+,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2.0,104+,1

In [6]:
# Identify columns with missing values
df.isnull().any()

Player                 False
Playing_Span           False
Matches_Played         False
Innings_Batted         False
Not_Outs               False
Runs_Scored            False
Highest_Inns_Score     False
Batting_Average        False
Balls_Faced             True
Batting_Strike_Rate     True
Hundreds_Scored        False
Fifties_Scored         False
Ducks_Scored            True
Boundary_Fours         False
Boundary_Sixes         False
dtype: bool

In [7]:
# Check specific columns for null values to decide on cleaning strategy
df[df['Balls_Faced'].isna()==1]

,Player,Playing_Span,Matches_Played,Innings_Batted,Not_Outs,Runs_Scored,Highest_Inns_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Hundreds_Scored,Fifties_Scored,Ducks_Scored,Boundary_Fours,Boundary_Sixes
8,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,NaN,NaN,15,19,6.0,258+,2
13,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,NaN,NaN,15,14,1.0,107+,11
54,Hon.FS Jackson (ENG),1893-1905,20,33,4,1415,144*,48.79,NaN,NaN,5,6,3.0,51+,0

In [8]:
df[df['Batting_Strike_Rate'].isna()==1]

,Player,Playing_Span,Matches_Played,Innings_Batted,Not_Outs,Runs_Scored,Highest_Inns_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Hundreds_Scored,Fifties_Scored,Ducks_Scored,Boundary_Fours,Boundary_Sixes
8,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,NaN,NaN,15,19,6.0,258+,2
13,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,NaN,NaN,15,14,1.0,107+,11
54,Hon.FS Jackson (ENG),1893-1905,20,33,4,1415,144*,48.79,NaN,NaN,5,6,3.0,51+,0

In [9]:
df[df['Ducks_Scored'].isna()==1]

,Player,Playing_Span,Matches_Played,Innings_Batted,Not_Outs,Runs_Scored,Highest_Inns_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Hundreds_Scored,Fifties_Scored,Ducks_Scored,Boundary_Fours,Boundary_Sixes
1,PHKD Mendis (SL),2022-2025,14,24,3,1316,182*,62.66,2063,63.79,5,5,NaN,137,24
62,Hashmatullah Shahidi (AFG),2018-2025,11,21,5,771,246,48.18,1629,47.32,2,2,NaN,87,1

In [10]:
# Fill missing numerical values with 0 to maintain data integrity
df['Balls_Faced']=df['Balls_Faced'].fillna(0)
df['Batting_Strike_Rate'] = df['Batting_Strike_Rate'].fillna(0)
df['Ducks_Scored'] = df['Ducks_Scored'].fillna(0)

In [11]:
# Verify that all nulls in critical columns have been addressed
df.isnull().sum()

Player                 0
Playing_Span           0
Matches_Played         0
Innings_Batted         0
Not_Outs               0
Runs_Scored            0
Highest_Inns_Score     0
Batting_Average        0
Balls_Faced            0
Batting_Strike_Rate    0
Hundreds_Scored        0
Fifties_Scored         0
Ducks_Scored           0
Boundary_Fours         0
Boundary_Sixes         0
dtype: int64

In [12]:
# Identify and remove duplicate player records
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
59    False
60    False
61    False
62    False
63     True
Length: 64, dtype: bool

In [13]:
df[df['Player'].duplicated()==1]

,Player,Playing_Span,Matches_Played,Innings_Batted,Not_Outs,Runs_Scored,Highest_Inns_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Hundreds_Scored,Fifties_Scored,Ducks_Scored,Boundary_Fours,Boundary_Sixes
49,YBK Jaiswal (IND),2023-2025,28,53,2,2511,214*,49.23,3803,66.02,7,13,6.0,312,45
63,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2.0,53+,0

In [14]:
df[df['Player'].isin(['YBK Jaiswal (IND)','DR Jardine (ENG)'])]

,Player,Playing_Span,Matches_Played,Innings_Batted,Not_Outs,Runs_Scored,Highest_Inns_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Hundreds_Scored,Fifties_Scored,Ducks_Scored,Boundary_Fours,Boundary_Sixes
46,YBK Jaiswal (IND),2023-2025,28,53,2,2511,214*,49.23,3803,66.02,7,13,6.0,312,45
49,YBK Jaiswal (IND),2023-2025,28,53,2,2511,214*,49.23,3803,66.02,7,13,6.0,312,45
58,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2.0,53+,0
63,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2.0,53+,0

In [15]:
df = df.drop_duplicates()

In [16]:
df[df['Player'].isin(['YBK Jaiswal (IND)','DR Jardine (ENG)'])]

,Player,Playing_Span,Matches_Played,Innings_Batted,Not_Outs,Runs_Scored,Highest_Inns_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Hundreds_Scored,Fifties_Scored,Ducks_Scored,Boundary_Fours,Boundary_Sixes
46,YBK Jaiswal (IND),2023-2025,28,53,2,2511,214*,49.23,3803,66.02,7,13,6.0,312,45
58,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2.0,53+,0

In [17]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
58    False
59    False
60    False
61    False
62    False
Length: 62, dtype: bool

In [18]:
# Split the 'Playing_Span' into separate 'Start_Year' and 'End_Year' columns
df['Playing_Span'].str.split('-',expand=True)

       0     1
0   1928  1948
1   2022  2025
2   2015  2016
3   1963  1970
4   1930  1954
..   ...   ...
58  1928  1934
59  2002  2014
60  1924  1934
61  1930  1938
62  2018  2025

[62 rows x 2 columns]

In [19]:
df['Start_Year'] = df['Playing_Span'].str.split('-').str[0]
df['End_Year'] = df['Playing_Span'].str.split('-').str[1]

In [20]:
# Drop the original 'Playing_Span' column as it is now redundant
df = df.drop(['Playing_Span'], axis = 1)

In [21]:
df.head()

,Player,Matches_Played,Innings_Batted,Not_Outs,Runs_Scored,Highest_Inns_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Hundreds_Scored,Fifties_Scored,Ducks_Scored,Boundary_Fours,Boundary_Sixes,Start_Year,End_Year
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7.0,626+,6,1928,1948
1,PHKD Mendis (SL),14,24,3,1316,182*,62.66,2063,63.79,5,5,0.0,137,24,2022,2025
2,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2.0,186,5,2015,2016
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1.0,246+,11,1963,1970
4,GA Headley (WI),22,40,4,2190,270*,60.83,416+,56.00,10,5,2.0,104+,1,1930,1954

In [22]:
# Extract 'Country' from the 'Player' name using parenthesis as a delimiter
df['Player'].str.split('(',expand = True)

                        0        1
0             DG Bradman      AUS)
1            PHKD Mendis       SL)
2               AC Voges      AUS)
3             RG Pollock       SA)
4             GA Headley       WI)
..                    ...      ...
58            DR Jardine      ENG)
59              GC Smith   ICC/SA)
60           WH Ponsford      AUS)
61             SJ McCabe      AUS)
62  Hashmatullah Shahidi      AFG)

[62 rows x 2 columns]

In [23]:
df['Country'] = df['Player'].str.split('(').str[1]

In [24]:
df['Country']

0        AUS)
1         SL)
2        AUS)
3         SA)
4         WI)
       ...
58       ENG)
59    ICC/SA)
60       AUS)
61       AUS)
62       AFG)
Name: Country, Length: 62, dtype: object

In [25]:
df['Country'] = df['Country'].str.split(')').str[0]

In [26]:
df['Country']

0        AUS
1         SL
2        AUS
3         SA
4         WI
       ...
58       ENG
59    ICC/SA
60       AUS
61       AUS
62       AFG
Name: Country, Length: 62, dtype: object

In [27]:
df['Player']

0               DG Bradman (AUS)
1               PHKD Mendis (SL)
2                 AC Voges (AUS)
3                RG Pollock (SA)
4                GA Headley (WI)
                 ...
58              DR Jardine (ENG)
59             GC Smith (ICC/SA)
60             WH Ponsford (AUS)
61               SJ McCabe (AUS)
62    Hashmatullah Shahidi (AFG)
Name: Player, Length: 62, dtype: object

In [28]:
# Clean the 'Player' name by removing the country information
df['Player'] = df['Player'].str.split('(').str[0]

In [29]:
df['Player']

0               DG Bradman
1              PHKD Mendis
2                 AC Voges
3               RG Pollock
4               GA Headley
              ...
58              DR Jardine
59                GC Smith
60             WH Ponsford
61               SJ McCabe
62    Hashmatullah Shahidi
Name: Player, Length: 62, dtype: object

In [30]:
# Change Data types
df.dtypes

Player                  object
Matches_Played           int64
Innings_Batted           int64
Not_Outs                 int64
Runs_Scored              int64
Highest_Inns_Score      object
Batting_Average        float64
Balls_Faced             object
Batting_Strike_Rate    float64
Hundreds_Scored          int64
Fifties_Scored           int64
Ducks_Scored           float64
Boundary_Fours          object
Boundary_Sixes          object
Start_Year              object
End_Year                object
Country                 object
dtype: object

In [31]:
# Clean numerical columns by removing special characters

In [32]:
# Remove *
df['Highest_Inns_Score'] = df['Highest_Inns_Score'].str.split('*').str[0]

In [33]:
df['Highest_Inns_Score'] = df['Highest_Inns_Score'].astype(int)

In [34]:
# Remove +
df['Balls_Faced'] = df['Balls_Faced'].str.split('+').str[0]

In [35]:
# Re-fill any potential nulls after string manipulation before conversion
df.isnull().any()

Player                 False
Matches_Played         False
Innings_Batted         False
Not_Outs               False
Runs_Scored            False
Highest_Inns_Score     False
Batting_Average        False
Balls_Faced             True
Batting_Strike_Rate    False
Hundreds_Scored        False
Fifties_Scored         False
Ducks_Scored           False
Boundary_Fours         False
Boundary_Sixes         False
Start_Year             False
End_Year               False
Country                False
dtype: bool

In [36]:
df[df['Balls_Faced'].isna()==1]

,Player,Matches_Played,Innings_Batted,Not_Outs,Runs_Scored,Highest_Inns_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Hundreds_Scored,Fifties_Scored,Ducks_Scored,Boundary_Fours,Boundary_Sixes,Start_Year,End_Year,Country
8,ED Weekes,48,81,5,4455,207,58.61,NaN,0.0,15,19,6.0,258+,2,1948,1958,WI
13,CL Walcott,44,74,7,3798,220,56.68,NaN,0.0,15,14,1.0,107+,11,1948,1960,WI
54,Hon.FS Jackson,20,33,4,1415,144,48.79,NaN,0.0,5,6,3.0,51+,0,1893,1905,ENG

In [37]:
df['Balls_Faced'] = df['Balls_Faced'].fillna(0)

In [38]:
# Convert cleaned string columns to proper integer data types
df['Balls_Faced'] = df['Balls_Faced'].astype(int)

In [39]:
# Remove +
df['Boundary_Fours'] = df['Boundary_Fours'].str.split('+').str[0]

In [40]:
df['Boundary_Fours'] = df['Boundary_Fours'].astype(int)

In [41]:
# Remove +
df['Boundary_Sixes'] = df['Boundary_Sixes'].str.split('+').str[0]

In [42]:
df['Boundary_Sixes'] = df['Boundary_Sixes'].astype(int)

In [43]:
df = df.astype({'Start_Year':'int','End_Year':'int'})

In [44]:
df.head()

,Player,Matches_Played,Innings_Batted,Not_Outs,Runs_Scored,Highest_Inns_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Hundreds_Scored,Fifties_Scored,Ducks_Scored,Boundary_Fours,Boundary_Sixes,Start_Year,End_Year,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800,58.60,29,13,7.0,626,6,1928,1948,AUS
1,PHKD Mendis,14,24,3,1316,182,62.66,2063,63.79,5,5,0.0,137,24,2022,2025,SL
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2.0,186,5,2015,2016,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707,54.48,7,11,1.0,246,11,1963,1970,SA
4,GA Headley,22,40,4,2190,270,60.83,416,56.00,10,5,2.0,104,1,1930,1954,WI

In [45]:
df.dtypes

Player                  object
Matches_Played           int64
Innings_Batted           int64
Not_Outs                 int64
Runs_Scored              int64
Highest_Inns_Score       int64
Batting_Average        float64
Balls_Faced              int64
Batting_Strike_Rate    float64
Hundreds_Scored          int64
Fifties_Scored           int64
Ducks_Scored           float64
Boundary_Fours           int64
Boundary_Sixes           int64
Start_Year               int64
End_Year                 int64
Country                 object
dtype: object

In [46]:
# Calculate Career Length
df['Career_Length'] = df['End_Year'] - df['Start_Year']

In [47]:
# Calculate the average Career Length
df['Career_Length'].mean()

np.float64(13.129032258064516)

In [48]:
# Calculate the average Batting_Strike_Rate for players who played over 10 years
df[df['Career_Length'] > 10]['Batting_Strike_Rate'].mean()

np.float64(47.8153488372093)

In [49]:
# Find number of players who played before 1960
df[df['Start_Year']<1960]['Player'].count()

np.int64(23)

In [50]:
# Max Highest_Inns_Score by country
df.groupby('Country')['Highest_Inns_Score'].max()

Country
AFG        246
AUS        380
ENG        364
ICC/IND    319
ICC/PAK    329
ICC/SA     277
ICC/WI     400
IND        248
NZ         251
PAK        313
SA         278
SL         374
WI         365
ZIM        232
Name: Highest_Inns_Score, dtype: int64

In [51]:
# Hundreds_Scored and Fifties_Scored and Ducks_Scored average by country
df.groupby('Country')[['Hundreds_Scored','Fifties_Scored','Ducks_Scored']].mean()

         Hundreds_Scored  Fifties_Scored  Ducks_Scored
Country
AFG             2.000000        2.000000      0.000000
AUS            21.600000       29.133333      8.933333
ENG            13.615385       21.846154      4.769231
ICC/IND        29.500000       47.500000     12.000000
ICC/PAK        25.000000       46.000000     15.000000
ICC/SA         36.000000       48.000000     13.500000
ICC/WI         34.000000       48.000000     17.000000
IND            24.000000       32.250000      8.750000
NZ             33.000000       38.000000     11.000000
PAK            21.250000       28.000000      9.500000
SA              9.800000       20.200000      3.400000
SL             22.750000       34.250000      9.250000
WI             16.625000       25.625000      7.250000
ZIM            12.000000       27.000000      5.000000

In [52]:
# Export the final cleaned and analyzed dataset to Excel without row index
df.to_excel("Cricket_Cleaned_Data.xlsx", index=False)